  <% content_for :title, "#{@look_book.name}" %>
  <div class="container">
      <div class="row-fluid">
        <div class="span12 mm">
            <div id="nowMM" class="carousel slide">
              <ol class="carousel-indicators">
                <% @look_book.look_book_images.each_with_index do |look_book_image, index| %>
                  <li data-target="#nowMM" data-slide-to="#{index}" class="active"></li>                
                <% end %>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <% @look_book.look_book_images.each_with_index do |look_book_image, index| %>
                <div class="<%= active_item(index) %> item">
                  <%= image_tag look_book_image.image.url%>                  
                </div>               
                <% end %>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#nowMM" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#nowMM" data-slide="next">&rsaquo;</a>
            </div><!-- ./carousel slide -->
          <div class="mm-heading">
            <h3><%= @look_book.name %></h3>
            <p><%= @look_book.description%></p>
          </div>

          <% @look_book.master_products.each_slice(4) do |master_products_slice| %>
          <!-- Nested in span12 -->
          <div class="row-fluid">
            <% master_products_slice.each do |master_product| %>
            <div class="span3">
              <div class="prod">
                <%= link_to product_path(:id => master_product.id) do %>
                  <%= image_tag(master_product.primary_product_color.primary_image.image.medium.url, :class => "image") %>
                <% end %>

                <div class="prod-meta">
                  <span class="prod-title"><%= master_product.name%></span>
                   <% if master_product.discount_price.nil? %>
                    <span class="discount-prod-price">IDR <%= master_product.sales_price_string %></span>
                  <% else %>
                      <span class="discount-prod-price">IDR <%= master_product.discount_price_string %></span>   
                      <span class="prod-price">IDR <%= master_product.price_string %></span>                     
                  <% end %>
                </div>
              </div>
            </div>    
            <% end %>        
          </div>

          <% end %>

          <!-- More Mix & Match  -->
          <div class="row-fluid">
            <div class="mm-heading">
              <h4>More Mix &amp; Match</h4>
            </div>
            <div id="moreMM" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#moreMM" data-slide-to="0" class="active"></li>
                <li data-target="#moreMM" data-slide-to="1"></li>
                <li data-target="#moreMM" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <% @look_books.each_slice(2).with_index do |look_book_slice, index| %>
                <div class="<%= active_item(index) %> item">
                  <% look_book_slice.each_with_index do |look_book, index| %>
                  <%= link_to look_book_path(:id => look_book.id) do %>
                    <%= image_tag(look_book.look_book_images.first.image.medium.url, :class => more_look_book_positioning(index) )%>

                  <% end %>                  
                  <% end %>
                </div>
                <% end %>              
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#moreMM" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#moreMM" data-slide="next">&rsaquo;</a>
            </div><!-- ./carousel slide -->
          </div>
          <!-- Look Up -->
          <div class="mm-footer">
            <h4>
              
              <a href="mixmatch-cover.html">Back To Mix &amp; Match</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
