<div class="container checkout">
      <div class="row-fluid">
        <div class="span12">     

          <h3>Choose Payment Methods</h3>
          <div class="row-fluid">
            <div class="span10">
              <div class="checkout-steps">
                <ul class="unstyled clearfix">
                  <li><span><a href="" title="Back to Previous">About You</a></span></li>                  
                  <li><span class="completed">
                    <%= link_to "Shipping", edit_order_shipping_detail_path(@order, :id => @order.shipping_detail.id) %>                    
                  </li>
                  <li><span class="current">Payment</a></span></li>
                  <li><span>Summary &amp; Pay</span></li>
                </ul>
              </div>      
                <%= form_for [@order, @payment_detail], :html => {:class => "form-horizontal" } do |f| %>
                <!-- Select -->
                <ul class="unstyled select-payment2">
                  <% @payment_types.each_with_index do |payment_type, index| %>
                  <li>
                    <label class="radio">
                      <% if index == 0 %>
                        <%= f.radio_button :payment_type_id, payment_type.id, { :checked => true } %>
                      <% else %>
                        <%= f.radio_button :payment_type_id, payment_type.id %>                      
                      <% end %>

                      <%= image_tag payment_type.image %>
                      
                      <span><%= payment_type.name %></span>
                    </label>
                    <p>
                      <%= payment_type.description  %>
                    </p>
                    <p>
                      <%= payment_type.description2  %>
                    </p>
                  </li>  
                  <%= f.hidden_field :id, :value => @payment_detail.id %>               
                  <% end %>
                </ul>
                
                <div class="control-group">
                  <div class="controls">
                  <button class="btnflat action">Next Step</button>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="span2">
              <h5>Need Help?</h5>
              <div class="helpbox">
                <ul class="unstyled">
                  <li><i class="icon-info-sign"></i> +62-21-89788990</li>
                  <li><i class="icon-envelope"></i> cs@jooliett.com</li>
                  <li><i class="icon-comment"></i> jooliett (skype)</li>
                  <li><i class="icon-time"></i> 09.00 - 18.00</li>
                </ul>
              </div>
            </div>

        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->
