<html>
  <head>
    <title>HTML Template</title>
    <meta charset="utf-8"/>
    <title>Confirm Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Le styles -->
  </head>
  <body style="margin-top: 0;margin: 59px 0 0 0;font-family: proxima_reg, sans-serif;font-size: 14px;line-height: 135%;background-color: #fff">
	  <div class="container checkout summary" style="width: 940px;margin-right: auto;margin-left: auto">
      <div class="row-fluid" style="width: 100%">
        <div class="span12" style="float: left;min-height: 1px;margin-left: 20px;width: 100%">
          <h2 style="margin: 10px 0;font-family: proxima_light, sans-serif;font-weight: bold;line-height: 40px;color: inherit;text-rendering: optimizelegibility;font-size: 31.5px">Thanks For Your Purchase!</h2>
          <h3 style="margin: 10px 0;font-family: proxima_light, sans-serif;font-weight: bold;line-height: 40px;color: inherit;text-rendering: optimizelegibility;font-size: 24.5px">Here is your purchase details
          </h3><table class="table table-condensed" style="max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;width: 100%;margin-bottom: 20px"><tr><td width="120" style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">Purchase Code</td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">: <%= @order.invoice_code %></td>
            </tr><tr><td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">Purchase Date</td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">: <%= @order.created_at.strftime("%a %b %d") %></td>
            </tr><tr><td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">Bank Account</td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd">: <span><%= @order.payment_detail.payment_type.full_description %></span></td>
            </tr></table><table class="table table-bordered table-condensed" style="max-width: 100%;background-color: transparent;border-collapse: separate;border-spacing: 0;width: 100%;margin-bottom: 20px;border: 1px solid #ddd;border-left: 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px"><tr><th colspan="2" style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;font-weight: bold;border-left: 1px solid #ddd;background-color: #efefef;text-transform: uppercase">Product</th>
              <th class="span2" style="float: none;min-height: 1px;margin-left: 0;width: 124px;padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;font-weight: bold;border-left: 1px solid #ddd;display: table-cell;background-color: #efefef;text-transform: uppercase">Quantity</th>
              <th class="span2" style="float: none;min-height: 1px;margin-left: 0;width: 124px;padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;font-weight: bold;border-left: 1px solid #ddd;display: table-cell;background-color: #efefef;text-transform: uppercase">Total</th>
            </tr>
            <% @order.order_items.each do |order_item| %>
            <tr>
              <td colspan="2" style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd"><%= order_item.product.full_description %></td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd"><%= order_item.quantity %></td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">IDR <%= order_item.subtotal_price_string %></td>
            </tr>
            <% end %>
            <tr>
            </tr>
            <tr>
              <td colspan="3" style="text-align: right;padding: 4px 5px;line-height: 20px;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">Shipping :</td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">IDR <%= @order.shipping_detail.city.delivery_cost_string %></td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: right;padding: 4px 5px;line-height: 20px;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">Payment Code :</td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">IDR <%= @order.payment_detail.pay_code %></td>
            </tr>

                          
            <tr>
              <td colspan="3" style="text-align: right;padding: 4px 5px;line-height: 20px;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">Total : </td>
              <td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd">IDR <%= @order.total_price_string %> </td>
            </tr></table><h4 style="margin: 10px 0;font-family: proxima_light, sans-serif;font-weight: bold;line-height: 20px;color: #f2108a;text-rendering: optimizelegibility;font-size: 17.5px;padding: 0 0 10px 0">Shipping Address</h4>
          <table class="table table-bordered table-condensed" style="max-width: 100%;background-color: transparent;border-collapse: separate;border-spacing: 0;width: 100%;margin-bottom: 20px;border: 1px solid #ddd;border-left: 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px"><tr><th style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;font-weight: bold;border-left: 1px solid #ddd;background-color: #efefef;text-transform: uppercase">Address</th>
            
            </tr><tr><td style="padding: 4px 5px;line-height: 20px;text-align: left;vertical-align: top;border-top: 1px solid #ddd;border-left: 1px solid #ddd"><%= @order.shipping_detail.full_address %></td>
            </tr></table><h4 style="margin: 10px 0;font-family: proxima_light, sans-serif;font-weight: bold;line-height: 20px;color: #f2108a;text-rendering: optimizelegibility;font-size: 17.5px;padding: 0 0 10px 0">Confirming your payment?</h4>
          <p style="margin: 0 0 10px">Please finish your payment and confirm it by visiting this link :</p>
          <p style="margin: 0 0 10px"><%= link_to "Confirm Payment", :controller => "payment_confirmations", :action => "show", :invoice_code => @order.invoice_code, :only_path => false%> </p>
        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->      
    </div><!-- ./container -->
    <div class="footer" align="center" style="margin-top:50px;">
    	<table width="600" style="border-top: 1px solid #999;max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0" cellpadding="10"><tbody><tr><td align="center">
              	<span style="font-family:'Arial';color:#999;font-size:11px">
                 <span>Sent to <a href="mailto:aviandri@gmail.com" target="_blank" style="color: #08c;text-decoration: none">aviandri@gmail.com</a> â </span>
                 <span><i><a href="http://bobobobo.us5.list-manage.com/about?u=c0d37c09087c100a6f648f68e&amp;id=127c4342e1&amp;e=5a13d0b25b&amp;c=5e124ad3cc" style="color: #999;text-decoration: none" target="_blank">Why did I get this?</a></i></span><span style="color:#999"> | </span><span><a href="http://bobobobo.us5.list-manage.com/unsubscribe?u=c0d37c09087c100a6f648f68e&amp;id=127c4342e1&amp;e=5a13d0b25b&amp;c=5e124ad3cc" style="color: #999;text-decoration: none" target="_blank">Unsubscribe</a><span style="color:#999"> | </span><a href="http://bobobobo.us5.list-manage.com/profile?u=c0d37c09087c100a6f648f68e&amp;id=127c4342e1&amp;e=5a13d0b25b" style="color: #999;text-decoration: none" target="_blank">Update Subscription</a></span>
               	</span><br/><span style="font-family:'Arial';color:#999;font-size:11px">To ensure that our messages get to your inbox (and don't go to your junk mail), please add <b><a href="mailto:cs@jooliett.com" target="_blank" style="color: #08c;text-decoration: none">cs@jooliett.com</a></b> to your address book. For further assistance, contact Jooliett Care <a href="tel:%2B62%2021%2029546060" value="+622129546060" target="_blank" style="color: #08c;text-decoration: none">+62 21 29546060</a> M-F <span class="aBn" data-term="goog_627007938" tabindex="0"><span class="aQJ">9AM-8PM</span></span> (W. Indonesian Time). Jooliett Â© 2013 Â· Jl. Casablanca Mansion 25/19Â· Jakarta 12960</span>
             </td>
          	</tr></tbody></table></div>
</body>
</html>
