<% content_for :body_custom_style, "id='home'" %>

  <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
      	<% @covers.each_with_index do |cover, index| %>
        	<li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= active_cover(index) %>"></li>        
        <% end %>

      </ol>
      <!-- Carousel items -->      
      <div class="carousel-inner">
      	<% @covers.each_with_index do |cover, index | %>
        <div class="<%= active_cover(index) %> item">          
          <div class="image" style="position: relative; left: 0; top: 0;">
            <%= image_tag cover.image.url, :style=> "position: relative; top: 0; left: 0;" %>
            <%= image_tag "sale_text.png",  :style => "position: absolute; top: 50%; left: 70%;max-width:400px" :class=> "carousel-text"%>
          </div>
           
           
        </div>
        <% end %>        
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
   </div>    