
    <div class="container">
      <div class="row-fluid">
        <div class="span12 shopcart">
          <h3>Your Shopping Cart</h3>
          <form class="form-inline">

            <table class="table table-bordered table-hover">
              <tr> 
                <th class="span6 shopcart-item">Product(s)</th>
                <th class="span2 shopcart-qty">Quantity</th>
                <th class="span2 shopcart-price">Sub Total</th>
              </tr>
              <!-- Item 1 -->
              <% @cart.cart_items.each do |cart_item| %>
              <tr>
                <td class="row">
                  <div class="span2">
                    <%= image_tag(cart_item.product.product_color.primary_image.image.thumb.url) %>
                  </div>
                  <div class="span6">
                    <ul class="unstyled">
                      <li><%= cart_item.product.name%></li>
                      <% unless cart_item.product.discount_percentage.nil? %>
                      	<li>Discount: <%= cart_item.product.discount_percentage%>%</li>
                      <% end %>
                      <li>IDR <%= product_price(cart_item.product) %></li>
                      <li><i class="icon-remove"></i>&nbsp;<a href="#" title="Remove this item from cart">Remove Item</a></li>
                      <li><i class="icon-heart"></i>&nbsp;<a href="#" title="Buy later">Save for later</a></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <input class="span3" type="text" placeholder="1">
                  <!-- <button type="submit" class="btn">Update</button> -->
                </td>
                <td>IDR <%= total_price(@cart)%></td>
              </tr>
			  <% end %>            
            </table>
          </form>
          <div class="row-fluid">
            <div class="span9"><a href="">Continue Shopping</a></div>
            <div class="span3"><button class="pull-right btnflat-fluid action">Proceed to Checkout &raquo;</button></div>
          </div>
        </div><!-- ./shoppingcart -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->