
    <div class="container checkout">
      <div class="row-fluid">
        <div class="span12">     

          <h3>Checkout</h3>      
          <div class="row-fluid">
            <!-- <div class="span4">
              <h4>Purchased Products</h4>
              <table class="table table-condensed">
                <tr>
                  <td>Cool Dress Women</td>
                  <td>Qty: 1</td>
                  <td>IDR 230.000</td>
                </tr>
                 <tr>
                    <td>T-shirt Sweet</td>
                    <td>Qty: 1</td>
                    <td>IDR 230.000</td>
                  </tr>
              </table>
            </div> -->
            <!-- <div class="span1 hidden-phone"></div> -->
            <div class="span6">
              <h4>I'm an Existing Customer</h3>
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>

                <div class="control-group">
                  <%= f.label :email, :class => "control-label", :for => "inputEmail"%>                  
                  <div class="controls">
                  	<%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>                    
                  </div>
                </div>
                <div class="control-group">
                  <%= f.label :password, :class => "control-label", :for =>  "inputPassword" %>
                  <div class="controls">
                  	<%= f.password_field :password, :placeholder => "Password" %>
                    
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox">
                      <% if devise_mapping.rememberable? -%>
    					<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    					<% end %>
                    </label>
                    <button type="submit" class="btnflat action">Sign in</button>
                  </div>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
            <div class="span3">
              <h4>I'm New to Jooliett</h4>
              <button class="btnflat action">Continue Checkout &raquo; </button>
            </div>
          </div>        
        </div><!-- ./span12 -->
      </div><!-- ./ row-fluid -->
    </div><!-- ./container -->

