<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= yield :title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
	<meta name="description" content="Jooliett.com is your daily dose of Fashion For Indonesian Woman. Be playful, simple and elegant ">

  <meta name="keywords" content="indonesia, jual, pakaian, ladies, fashion, butik, dress, pakaian, celana, rok, wanita, perempuan, online shop, indonesian, dress, tops, bottom">
	<meta name="google-site-verification" content="Vd1qFHu2t0Mie-rpojE36eugGw092IaxxPDiN1AQXFc" />
  
    <!-- Le styles -->
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  <%= yield :head %>

</head>
 <body <%= yield :body_custom_style %> >
    <div class="statusbar error">
      <% unless flash[:errors].blank?%>
        <div class="container">
          <% flash[:errors].each do |value| %>
            <div class="content">
                <span><%= value %></span>
                <a href="#" class="close" data-dismiss="alert">&times;</a>
            </div>      
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="hidden-desktop" id="mobile-logo">
            <%= image_tag "weblogo.png", :class => "logo" %>
          </div>
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span>Menu</span>
            
          </button>            
          <div class="nav-collapse collapse">                 
            <ul class="nav" role="navigation">
              <li class="hidden-phone hidden-tablet">                 
                  <%= image_tag "weblogo.png", :class => "logo" %>
              </li>
              <li class="dropdown">
                <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Shop
                  <b class="caret"></b>
                </a>
                <!-- Dropdown Menu -->
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation">
                    <%= link_to "New Arrival", {:controller => "/products", :action => :index, :category_name => "new-arrival"}, "role" => "menuitem", "tabindex" => "-1" %>
                  </li>

                  <li role="presentation" class="divider"></li>
                  <% Type.all_name_execept_new_arrival.each do |name| %>
                    <li role="presentation">
                      <%= link_to name, {:controller => "/products", :action => :index, :category_name => name }, "role" => "menuitem", "tabindex" => "-1" %>
                    </li>                    
                  <% end %>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <!-- <li class="dropdown">
                <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">By Event
                  <b class="caret"></b>
                </a> -->
                <!-- Dropdown Menu -->
               <!--  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">                
                  <% Event.all.each do |event| %>
                    <li role="presentation">
                      <%= link_to event.name, {:controller => "/products", :action => :index, :category_name => event.name }, "role" => "menuitem", "tabindex" => "-1" %>
                    </li>                    
                  <% end %>
                </ul>
              </li>
              <li class="divider-vertical"></li> -->
              <li><%= link_to "lookbook", look_books_path %></li>              
              <li class="divider-vertical"></li>
              <li><%= link_to "videos", videos_path %></li>              
            </ul>
            <ul class="nav pull-right">
              <% if current_user %>
                <ul class="nav" role="navigation">
                  <li class="dropdown pull-right">
                    <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">                  
                      <li role="presentation">
                        <%= link_to "logout", destroy_user_session_path, :method => :delete%>
                      </li>
                      <!-- <li role="presentation" class="divider"></li> -->
                    </ul>
                  </li>
                </ul>
              <% else %>
                <li class="dropdown">
                  <a id="drop6" href="#loginModal" role="button" class="dropdown-toggle" data-toggle="modal">Login</a>
                </li>
              <% end %>
              
              <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="qcart-count"><%= current_cart.products.empty? ? 0 : current_cart.products.count %></span>  My Bag<b class="caret"></b></a>
                <div class="dropdown-menu quickcart" role="menu" aria-labelledby="drop3" data-cart-id="<%= current_cart.id %>" >
                  <!-- QuickCart -->
                  <% current_cart.cart_items.each do |cart_item| %>
                  <div class="qcart-item row">
                      <div class="span1">
                          <%= image_tag(cart_item.product.product_color.primary_image.image.thumb.url) %>                          
                      </div>
                      <div class="span2 qcart-details">
                          <span class="qcart-item-name"><%= cart_item.product.name %></span>
                          <span class="qcart-item-price">IDR <%= cart_item.sub_total_string %> </span>
                      </div>
                  </div>
                  <% end %>
                  
                  <!-- /qcart-item -->
                  <div class="qcart-action">
                      <% unless current_cart.cart_items.blank? %>                        
                        <button id="view-cart" class="btnflat-fluid action">Checkout</button>
                      <% else %>
                        <span id="not-available">Nothing yet! Let's Shop First </span>
                      <% end %>

                  </div>

                </div><!-- ./quickcart -->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- ./container -->
      </div><!-- ./navbar-inner -->
    </div><!-- ./navbar navbar-inverse -->

   <%= yield %>

   <!-- Login Modal -->
    <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginModalLabel">Login</h3>
      </div>
      <div class="modal-body">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
              <div class="control-group">
                <%= f.label :email, :class => "control-label", :for => "inputEmail"%>                  
                <div class="controls">
                  <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>                    
                </div>
              </div>
              <div class="control-group">
                <%= f.label :password, :class => "control-label", :for =>  "inputPassword" %>
                <div class="controls">
                  <%= f.password_field :password, :placeholder => "Password" %>
                  
                </div>
              </div>
                 <div class="control-group">
                  <div class="controls">
                    <label class="checkbox">
                      <% if devise_mapping.rememberable? %>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end %>                 
                    </label>                    
                  </div>
              </div>              
              
          </div>           
          <div class="modal-footer">
        <button class="btnflat default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btnflat action">Login</button>
      </div>
      </div>
      <% end %> 
    </div>


    <!-- Footer -->
    <div id="footer">
      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
          <div class="container">
            <div class="row-fluid">
              <div class="span2">&copy; 2013 Jooliett</div>
              <div class="span4">
                  <ul class="inline">
                    <li>
                      <%= link_to "How To Order", how_to_order_pages_path%>                      
                    </li>
                    <!-- <li>
                      <%= link_to "About Us", about_us_pages_path%>                      
                    </li>                   -->      
                  </ul>
              </div>
              <div class="span6 pull-right">
                <ul class="inline">
                    <li>
                        <a href="https://www.facebook.com/jooliettpage">
                          <i class="sosmed-facebook"></i>
                        </a>                        
                    </li>                                    
                    <li>          
                        <a href="https://twitter.com/jooliettshop">              
                          <i class="sosmed-twitter"></i>
                        </a>
                    </li>              
                    <li>
                      <a href="http://instagram.com/jooliettshop">
                        <i class="sosmed-instagram"></i>
                      </a>
                    </li> 
                    <li>
                      <i class="sosmed-line"></i>
                      jooliett
                    </li> 
                    <li>
                      <i class="sosmed-phone"></i>
                      0812-20466211
                    </li>
                  </ul>
              </div>                                  
            </div>
          </div>
        </div>
      </div>
    </div>

<% if Rails.env.production? %>
  <%= render 'layouts/analytics' %>
<% end %>


  </body>
</html>
